<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
img {text-align: center;}
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body style="background-color:gray;">

<!-- <img src="image/myimage.png" alt="Girl in a jacket" width="100" height="100"> -->
<h1>Ramkumar</h1>
<p>Hello,
    Thanks for giving your valuable time to watch my profile. I am Ram Kumar and I am python and perl web crawler (scraper), i scrap the data from multiple websites in automated way, and good experience in PDF extraction, GET, POST data and login sites, store crawled HTML/XML content into MySQL- Database
    
    I can scrape any kind of websites like
    * E-Commerce
    * Social media websites (LinkedIn, Facebook)
    * Business Directories
    * Listing site
    * any public website
    
    To get the most within the shortest period of time I am running several scrape scripts with multiple threads running on it. I'm using Python technologies that can request thousands of URLs at a time that maximize the speed as much as possible. I'm also using proxies to avoid detection and blocking from the server.
    
    My Technical skills are as follows
    
    * OS: Windows
    * Browsers: Chromedriver, Firefox driver
    * Languages: Python, Perl, HTML, MySQL
    * Libraries: Selenium, Requests, Regex, BeautifulSoup4, lxml, Urllib, html5lib Multiprocessing, Pandas
    
    List of some of the technical problems I can easily solve.
    
    * Logins and Passwords
    * Time-dependent bot detection
    * Downloading images
    * Holding open sessions
    * Filtering dirty datasets
    * Human interaction / click-through
    * RAM management for very large output files
    * Working with JSON data
    * Navigating both HTML and CSS elements
    * Optimizing performance for fast scraping
    
    Good experience in object oriented concepts(OOPS), data structures, algorithms, NLP, NLTK and interactive debug with Python. and good Knowledge of XAMPP Database connections, executing queries, performing transaction, Handling error using MySQL. Basic knowledge of Django frameworks, Tkinter & Sockets Comprehensive problem solving abilities and analytical reasoning
    Good interpersonal skills, commitment, result oriented, hard working with a quest and zeal to learn new technologies and undertake challenging tasks.Developing new modules and classes based on business requirement.Hands on working experience in windows.
    </p>
<div>Thankyou</div>

</body>
</html>