{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
li {text-align: center;}
li {text-decoration: none;}
li {font-family: Georgia;}

</style>
</head>
<body style="background-color:gray;">

<img src="{% static 'images/myimage.png' %}" alt="Ramkumar" width="100" height="100" class="center">
<h2>Ram Kumar</h2>
<h2>Mobile : 7200686891</h2>
<h2>Address : 1st Bharathiyar Street, Palavanthangal, Chennai-114</h2>
<li><a href="https://www.linkedin.com/in/ram-kumar-271b51190">Linkedin</a></li>

<li><a href="https://instagram.com/ram_2814">Instagram</a></li>


<p></p>
<div></div>

</body>
</html>