<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
img {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body style="background-color:gray;">

<!-- <img src="image/myimage.png" alt="Girl in a jacket" width="100" height="100"> -->
<h2>B.sc (Computer Science)</h2>
<p>Passed with First class – GTN Arts and Science College -	Dindigul- Madurai kamarajar University- 2016, 76%</p>
<h2>HSC</h2>
<p>John Paul Higher Secondary School - Dindigul - State Board – 2013, 82%</p>
<h2>SSLC</h2>
<p>John paul Higher Secondary School - Dindigul  - State Board -2010, 75%</p>

<div>Thankyou</div>

</body>
</html>