{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello Ram</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
	<div id="container">
		<div id="header">
			
			<img src="{% static 'images/logo2.jpg' %}">
			<ul>
				<li><a href="about.html">ABOUT</a></li>
				<li><a href="#">MY PROJECTS</a></li>
				<li><a href="education.html">EDUCATION</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</div>
	</div>
</body>

</html>